/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar ul.nav > li > a {
  text-decoration: none;
  color: #868686;
}

.navbar-brand>img {
  height: 100%;
}