<section class="bar background-white no-mb">
    <div class="container">

        <div class="col-md-12">
            <div class="heading text-center">
                <h2>From our blog</h2>
            </div>

            {{ if isset .Site.Params "blog_intro" }}
            <p class="lead">
              {{ .Site.Params.blog_intro }}
            </p>
            {{ end }}

            <!-- *** BLOG HOMEPAGE *** -->

            <div class="row">

                {{ $posts := .Paginate (where .Data.Pages "Type" "post") }}
                {{ range first 4 $posts.Pages }}
                <div class="col-md-3 col-sm-6">
                    <div class="box-image-text blog">
                        {{ if isset .Params "banner" }}
                          <div class="top">
                              <div class="image">
                                  <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" alt="" class="img-responsive">
                              </div>

                              <div class="bg"></div>
                              <div class="text">
                                  <p class="buttons">
                                      <a href="{{ .Permalink }}" class="btn btn-template-transparent-primary"><i class="fa fa-link"></i> Read more</a>
                                  </p>
                              </div>
                          </div>
                        {{ end }}

                        <div class="content">
                            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
                            {{ if isset .Params "author" }}
                              <p class="author-category">By <a href="#">{{ .Params.author }}</a> on {{ .Date.Format "January 2, 2006" }}
                            {{ end }}
                            </p>
                            <p class="intro">{{ .Summary }}</p>
                            <p class="read-more">
                              <a href="{{ .Permalink }}" class="btn btn-template-main">Continue reading</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.box-image-text -->

                </div>
                {{ end }}

            </div>
            <!-- /.row -->

            <!-- *** BLOG HOMEPAGE END *** -->

        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /.bar -->
