<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>Our clients</h2>
                </div>

                <ul class="owl-carousel customers">
                    <li class="item">
                        <img src="img/customer-1.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="img/customer-2.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="img/customer-3.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="img/customer-4.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="img/customer-5.png" alt="" class="img-responsive">
                    </li>
                    <li class="item">
                        <img src="img/customer-6.png" alt="" class="img-responsive">
                    </li>
                </ul>
                <!-- /.owl-carousel -->
            </div>

        </div>
    </div>
</section>
