{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle }}
                </p>

                <ul class="owl-carousel customers">
                    {{ range .Site.Data.clients }}
                    <li class="item">
                        <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive">
                    </li>
                    {{ end }}
                </ul>
                <!-- /.owl-carousel -->
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
