<div class="container" id="contact">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}

                {{ if isset .Site.Params "email" }}

                <div class="heading">
                    <h3>Contact form</h3>
                </div>

                <div id="contact-message"></div>

                <form class="contact-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Your Email</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="message">Your Message</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>

                        <div class="col-sm-12 text-center">
                            <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i> Send message</button>

                        </div>
                    </div>
                    <!-- /.row -->
                </form>

                {{ end }}

            </section>

        </div>

        <div class="col-md-4">

            {{ if isset .Site.Params "address" }}
            <section>

                <h3 class="text-uppercase">Address</h3>

                {{ .Site.Params.address | safeHTML }}

            </section>

            {{ end }}

        </div>

    </div>
    <!-- /.row -->
</div>

{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
    <div class="hidden">
      <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
      <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
    </div>
    <div id="map" />
  {{ end }}
{{ end }}
