{{ with .Site.Data.hero }}
{{ if .enable }}
<section class="hero" id="home">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="hero_content">
          <div class="hero_blob">
          </div>
          <div class="mb-5">
            <span class="top-title pre-line">{{ .topTitle }}</span>
            {{ .content | markdownify }}
          </div>
          <a type="button" class="btn btn-lg btn-primary btn-zoom"
            href="{{ .buttonURL | absURL }}">{{ .buttonName }}</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="hero_figure">
          <img src="{{ .image | absURL }}" alt="hero-image" style='
                  -webkit-mask: url({{"images/hero/hero-mask-svg.png" | absURL }});
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-size: contain;
                  -webkit-mask-position: center center;
                ' />

          {{ if .videoURL }}
          <div class="hero_figure-popup">
            <div class="thumb">
              <img src="{{ .videoThumb }}" alt="popup" />
            </div>

            <a href="{{ .videoURL }}" type="button" class="popup-button text-center big">
              <svg xmlns="http://www.w3.org/2000/svg" width="21" height="24" viewBox="0 0 21 24">
                <path d="M17.961 10.264a2 2 0 010 3.473L2.992 22.29A2 2 0 010 20.554V3.446A2 2 0 012.992 1.71z"
                  data-name="Polygon 4" />
              </svg>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}