<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{ .Site.BaseURL }}js/jquery-1.11.0.min.js"><\/script>')
</script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="{{ .Site.BaseURL }}js/jquery.cookie.js"></script>
<script src="{{ .Site.BaseURL }}js/waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.counterup.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.parallax-1.1.3.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>

<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>

<!-- gmaps -->  
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false" data-turbolinks-eval="false"></script>
<script src="{{ .Site.BaseURL }}js/gmaps.js"></script>

{{ if isset .Site.Params "contact" }}
{{ if .Site.Params.contact.map }}
  <!-- gmaps -->
  <script type="text/javascript">
    $(document).ready(ready);
    $(document).on('page:load', ready);

    /* map */
    function ready() {
        if ($("#map").length > 0) {
            var styles = [{
                "featureType": "landscape",
                "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]
            }, {
                "featureType": "poi",
                "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.highway",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {
                "featureType": "road.arterial",
                "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]
            }, {
                "featureType": "road.local",
                "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]
            }, {
                "featureType": "transit",
                "stylers": [{"saturation": -100}, {"visibility": "simplified"}]
            }, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {
                "featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]
            }, {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]
            }];
            map = new GMaps({
                el: '#map',
                lat: {{ .Site.Params.contact.mapLat }},
                lng: {{ .Site.Params.contact.mapLng }},
                zoomControl: true,
                zoomControlOpt: {
                    style: 'SMALL',
                    position: 'TOP_LEFT'
                },
                panControl: false,
                streetViewControl: false,
                mapTypeControl: false,
                overviewMapControl: false,
                scrollwheel: false,
                draggable: false,
                styles: styles
            });

            var image = '{{ .Site.BaseURL }}img/marker.png';

            map.addMarker({
                lat: {{ .Site.Params.contact.mapLat }},
                lng: {{ .Site.Params.contact.mapLng }},
                icon: image,
                title: '{{ .Site.Params.contact.mapTitle }}',
                 /*infoWindow: {
                 content: '<p>HTML Content</p>'
                }*/
            });
        }
    }
  </script>
{{ end }}
{{ end }}
