{{ template "_internal/google_analytics.html" . }}
<script src="{{ .Site.BaseURL }}js/jquery-3.1.1.min.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

<script src="{{ .Site.BaseURL }}js/jquery.cookie.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.waypoints.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery.counterup.min.js"></script>
<script src="{{ .Site.BaseURL }}js/jquery-parallax.js"></script>
<script src="{{ .Site.BaseURL }}js/hpneo.gmaps.js"></script>
<script src="{{ .Site.BaseURL }}js/gmaps.init.js"></script>
<script src="{{ .Site.BaseURL }}js/front.js"></script>

<!-- owl carousel -->
<script src="{{ .Site.BaseURL }}js/owl.carousel.min.js"></script>
